<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.penciledge.nova-game"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Nova Wheel</name>

  <description>
      Nova wheel game
  </description>

  <author href="https://penciledge.net" email="penciledgedev@gmaiil.com">
      Penciledge
  </author>

  <icon src="icon.png" />

</widget>